<router-outlet>

    <section>
        
    </section>




    <section>
        <article>
            <h1>
                RESUMEN
            </h1>
            <p>
                En la actualidad los ERP son las mayores herramientas en el control de las actividades de una empresa; 
                estos son los mejores aliados para los gerentes, administradores y contadores, sin embargo, el área o 
                departamento de producción está un poco relegada y los procesos se llevan de la mejor manera, pero de la mas 
                optima. La idea de esta aplicación es, en base a la experiencia en los procesos, investigación y análisis, 
                aminorar la carga de trabajo, disminuir el riesgo de errores y optimizar el tiempo laboral de los operarios y 
                jefes de producción. Mediante algoritmos y parámetros se van a programar las actividades de producción, 
                tomando como base las necesidades especificas de cada empresa o nicho de negocio. La aplicación será un 
                modulo que se adjuntará al ERP o sistema que pudiese tener la empresa, caso contrario la información 
                necesaria será ingresada de forma ágil, pero en ambos casos con la facilidad de encontrar el módulo en 
                línea para su ejecución en cualquier localidad. Empleando SCRUM y sus ventajas la realización de la 
                aplicación será dinámica y la retroalimentación que proporcione dará robustez a la misma. Se espera 
                cubrir las necesidades de un área fundamental y que hoy en día necesita de agilidad, optimización y 
                efectividad en sus procesos.
            </p>
    
        </article>
    </section>
</router-outlet>
